*{
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/409701/pexels-photo-409701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: rgba(74, 73, 73, 0.205);
    backdrop-filter:blur(20px);
    border-radius: 20px;
    padding: 30px;
    display: grid;
    justify-content: center;
    

}

.background h1{
    text-align: center
}